# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporal Files #
*.swp 

# Webap files #
/webapp/DBOnDemand/nbproject/private/
/webapp/DBOnDemand/build/
/webapp/DBOnDemand/dist/DBOnDemand.war
/webapp/DBOnDemand/web/META-INF/context.xml