# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporal Files #
*.swp 

# Webap files #
/webapp/DBOnDemand/target/
/webapp/DBOnDemand/src/main/webapp/META-INF/context.xml
