.z-upload {
    margin-right: 200px;
}

body {
    padding: 0;
}

.button,
.buttonDisabled {
   width: 20px !important;
   height: 20px !important;
}

.button {
    cursor:pointer;
}

.buttonDisabled {
    opacity: .5;
    /*for IE8*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*for IE5-7*/
    filter: alpha(opacity=50);
}

.button img,
.buttonDisabled img {
    width: 20px;
    height: 20px;
}

.button:hover img {
    width: 18px;
    height: 18px;
    padding: 1px !important;   
}

.bigButton,
.bigButtonDisabled {
   width: 52px !important;
   height: 52px !important;
}

.bigButton {
    cursor:pointer;
}

.bigButtonDisabled {
    opacity: .5;
    /*for IE8*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*for IE5-7*/
    filter: alpha(opacity=50);
}

.bigButton img,
.bigButtonDisabled img {
    width: 52px;
    height: 52px;
}

.bigButton:hover img {
    width: 48px;
    height: 48px;
    padding: 2px !important;
}

.boxing {
    max-width: 1200px;
    min-width: 860px;
}

.appTitle {
    color: #3861AA;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
    font-size: 20pt ;
    text-decoration: none;
    margin-left: 20px;
}

.title,
.title button{
    color: #3861AA !important;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
    font-size: 12pt !important;
    text-decoration: none;
}

.titleSmall {
    color: #3861AA !important;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
    font-size: 10pt !important;
    text-decoration: none;
}

.titleLinks span,
.titleLinks a:link,
.titleLinks a:visited,
.titleLinks a:active{
    color: #3861AA;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    margin-right:5px;
    margin-left:5px;
}

.z-menubar-hor, .z-menubar-ver {
    border: 1px solid #D8D8D8;
}

.toolbar {
    border: 0px;
    border-bottom: 1px solid #D8D8D8;
    margin-top: 10px;
}

.jobState img {
    width: 12px;
    height: 12px;
    padding: 1px;
}

.text {
    font-size:12px;
    font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
}

a {
    color: blue;
}

.preloader {
    height:350px;
    background:url(../img/loading.gif) center center no-repeat;
}

.metricGroup td{
    color: green !important;
}

.z-caption-content {
    display: inline !important;
}

.z-menuitem-text {
    font-size: 12pt;
    color: #3861AA;
    font-family: "PT Sans","Trebuchet MS","Tahoma","sans-serif";
}

.z-menubar-horizontal li {
    margin: 0px 10px 0px 0px;
}

.z-caption {
    white-space: normal;
}

.z-treecell-content span:not(:first-child).z-tree-spacer {
    width: 0;
}